.box{
    /* min-height: 50px; */
    padding: 5px;
    margin: 5px;
    font-weight: 800;
    color: rgba(255, 255, 255, 0.945);
  }
  
  .skyblue {
    background: deepskyblue;
  }
  
  .purple {
    background: rebeccapurple;
  }
  
  .red {
    background: indianred;
  }
#sidebar{
    float: right;
}  
#main-content {
    float: right;
}

img{
    width: 100%
    height: 100%
    /* object-fit: contain; */
}
h1 {
    color: white;
}
h2{
    color: teal;
}
p{
    color: black
}
.title{
    color: teal
}
.wrapper{
    align-self: start;
    column-count: 1;
    padding: 50px;
}